/* Colors

Primary:   #093C88
Secondary: #2668CA
Black:     #020107

/*
*
Whole Page
*
*/

/* Create a small border on the edges */
body {
  margin: auto;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  text-align: center
}

h1,
h2,
h3,
h4 {
  margin: 0.5%;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.5em;
  color: #093C88;
}

h4 {
  font-size: 1.1em;
}

a {
  color: #020107;
  font-size: 1.1em;
  margin-top: 1%;
}

a:hover {
  transition: 0.8s;
  color: #2668CA;
}

/*
*
Header
*
*/

header {
  width: 100%;
  height: 25%;

}

.header-text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

.header-text h1 {
  color: #020107;
}

.header-text h2 {
  color: #093C88;
}

/*
*
Main Picture
*
*/

.parallax-pic {
  background-image: url("../img/background2.jpg");
  height: 300px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*
*
Content
*
*/
.intro {
  margin: 10px 50px 10px 50px;
}

ul {
  list-style-type: none;
  padding: 0;
}

.featured-projects {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
}

.project-section {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  max-width: 31%;
  min-width: 250px;
}

.circus-vid {
  max-width: 50%;
}

.circus-vid iframe {
  width: 100%;
  height: 100%;
}

.circus-vid h4 {
  margin: 2%;
}

/*
*
Footer
*
*/

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-icons {
  font-size: 2.5em;
}

.social-icons a {
  color: #2668CA;
  margin: 7px;
}

.social-icons a:hover {
  transition: 0.5s;
  color: #020107;
}

footer a {
  margin-bottom: 15px;
}

/*
*
Media Queries
*
*/

@media screen and (max-width: 500px) {
  .circus-vid {
    margin: 0 auto;
  }
}
